doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='widht=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/base.css')
    title Penick Yard
    
  body
    header
      .heading
        h1 Yard Docs
        //- h2=`Hello ${users[0].name}`
        hr
        .content
          .box
            a(href='/api/v1/invoices') Create Yard Invoice
            
          .box
            a(href='/api/v1/invoices/saved-invoices') Invoice Archive

        

  