* {
  margin: 0;
  padding: 0;
}
header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: 
    radial-gradient(rgb(202, 201, 201),
  rgb(115, 115, 115));
}
.heading {
  width: 400px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px 2px rgb(157, 157, 157);
}
h1 {
  font-family: sans-serif;
  margin: 0 0 10px 0;
}
body {
  background-color: rgb(247, 247, 247);
  text-align: center;
}
.content {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.box {
  font-family: sans-serif;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: rgb(209,231,245);
  border-radius: 10px;
  border: 1px solid black;
  transition: all 180ms;
}
.box:hover {
  transform: scale(1.05);
  background-color: rgb(235, 241, 245);
}
a {
  text-decoration: none;
  font-size: 1.1em;
  color: black;
}
a:hover {
  color: rgb(45, 115, 15);
  text-decoration: underline black;
}
h2 {
  font-family: sans-serif;
}
h3 {
  font-family: sans-serif;
  margin: 0 0 10px 0;
}
